<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
    <script>let text = "Привет пока как дела что делаешь для чего за чем";
    let time;
    let nowTime;
    let timeDown;
    let timeUp;
    let timeBetweenKeys = 0;
    let countTab = 0;
    let printTime = 0;
    let b = 0;

    function stopDimensionSpeed() {
        nowTime = new Date();
        var countSymbol = document.getElementById("sped").value.length;
        printTime = ((nowTime - time) / 1000);
        console.log("Время " + +"Колличество символов " + countSymbol);
        console.log("Скорость печати" + printTime);
        console.log("Среднее время " + timeBetweenKeys / countTab);
        b = timeBetweenKeys / countTab;

        countTab = 0;
        timeDown = undefined;
        timeBetweenKeys = undefined;
    }

    function listnerChange() {

        if (time == null) {
            time = new Date();
        }
        timeUp = new Date();
        if (timeDown === undefined) {
            timeDown = new Date();
        } else if (countTab === 2) {
            timeBetweenKeys = ((timeUp - timeDown) / 1000);
        } else {
            timeBetweenKeys += ((timeUp - timeDown) / 1000);
        }
        timeDown = new Date();
        countTab++;
        console.log("время между нажатиями сумма " + timeBetweenKeys + " Колличество нажатий " + countTab);
        // console.log(document.getElementById("sped").value);
        // console.log("Ввел букву");
    }

    function sendAjax() {
        $.ajax({
            url: "/request",
            type: "get", //send it through get method
            data: {
                time: printTime, // your get parameter(s)
                averageTime: b

            },
            success: function (response) {
                console.log(response.get());
                //Do Something on successful Ajax call
            },
            error: function (xhr) {
                //Do Something to handle error
            }
        });
    }

    function sendRegistration() {
        let login = document.getElementById("login").value;
        let password = document.getElementById("password").value;
        $.ajax({
            url: "/requestRegistration",
            type: "get", //send it through get method
            data: {
                login: login, // your get parameter(s)
                password: password

            },
            success: function (response) {
                console.log(response.get());
                //Do Something on successful Ajax call
            },
            error: function (xhr) {
                //Do Something to handle error
            }
        });
    }

    </script>
    <style>
        .login-password {
            margin-left: auto;
            margin-right: auto;
        }

        input {
            margin: 10px;
        }
    </style>
</head>
<body>
<p>Регистрация</p>
<div class="login-password">
    <p>Логин</p>
    <input id="login" name="login">
    <br>
    <p>Пароль</p>
    <input id = "password" name="password">
    <br>
    <button onclick="sendRegistration()">Регистрация</button>
    <textarea name="text-on-writer"></textarea>
</div>


<input name="sped" id="sped" onchange="stopDimensionSpeed()" oninput="listnerChange()" type="text"> <input
        onclick="sendAjax()" value="Закончить ввод" type="button">
<button></button>
</body>
</html>